/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 10px;
}

form {
  border: 2px solid lightcoral;
}

label {
  padding: 0 30px;
}

label.input-text {
  flex-basis: 60%;
}

label.censored-words {
  display: flex;
  align-items: start;
}

input,
textarea {
  margin-top: 10px;
  outline: 3px solid transparent;
  border-radius: 2px;
}

input {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  aspect-ratio: 3 / 2;
}

input:focus,
textarea:focus {
  outline: 3px solid #de5567;
  border-radius: 2px;
  border-color: transparent;
}

p {
  margin-bottom: 20px;
}
/* Utilities */
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.button-wrapper {
  margin: 30px 0 20px;
  text-align: center;

  button {
    font-size: 1.2rem;
    margin-right: 50px;
    padding: 10px 16px;
    border-radius: 5px;
  }

  button.btn-sub{
    background-color: #04bd04;
  }

  button.btn-sub:hover {
    background-color: #19ad19;
  }
}

